<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PinWin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
    <userSettings>
        <PinWin.Properties.Settings>
            <setting name="HotKey" serializeAs="String">
                <value>Control+Alt+V</value>
            </setting>
            <setting name="AlwaysCheckForUpdates" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TitleLengthLimit" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="WindowsListAtEnd" serializeAs="String">
                <value>False</value>
            </setting>
        </PinWin.Properties.Settings>
    </userSettings>
</configuration>