<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AppHelpers.WinForms" version="0.1.0-beta5" targetFramework="net462" />
  <package id="Bluegrams.Windows.Tools" version="0.1.0-alpha" targetFramework="net462" />
  <package id="PortableSettingsProvider" version="0.2.3" targetFramework="net462" />
</packages>